{% block header %}
    <div class="header clearfix">
        <a href="{% url 'main' %}" class="logo"></a>
        <ul class="menu">
            <li><a href="{% url 'main' %}" class="active">домой</a></li>
            <li><a href="{% url 'products' %}">продукты</a></li>
            <li><a href="{% url 'contact' %}">контакты</a></li>
        </ul>
        <a href="#" class="search"></a>
    </div>
{% endblock %}

<!-- не получилось изменить класс "active" для каждой страницы
            {% if url == 'main' %}
                <li><a href="{% url 'main' %}" class="active">домой</a></li>
                <li><a href="{% url 'products' %}">продукты</a></li>
                <li><a href="{% url 'contact' %}">контакты</a></li>
            {% elif url == 'products' %}
                <li><a href="{% url 'main' %}"">домой</a></li>
                <li><a href="{% url 'products' %}" class="active">продукты</a></li>
                <li><a href="{% url 'contact' %}">контакты</a></li>
            {% elif url == 'contact' %}
                <li><a href="{% url 'main' %}"">домой</a></li>
                <li><a href="{% url 'products' %}">продукты</a></li>
                <li><a href="{% url 'contact' %}" class="active">контакты</a></li>
            {% endif %}
-->